<% if (typeof est_connecte === 'undefined') { %>
    <%- include ("../partials/header.ejs", {est_connecte: false}) %> 
<% } else { %>
    <%- include ("../partials/header.ejs", {est_connecte: est_connecte}) %>
<% } %>

    <!--Affichage du nom de la page dans le titre du navigateur web-->
    <script>
        var nomPage = " | Explorer";
        document.title += nomPage;
    </script>

<!--Champ d'affichage des erreurs lors de la connexion à la BD-->

<% if (typeof planetes_bd === 'undefined' || planetes_bd.length===0) { %>
    <!--Champ d'affichage des erreurs lors de connexion-->
    <% if (typeof message_negatif !== 'undefined') { %>
        <div class="custom-message-negatif">
            <%= message_negatif %>
        </div>
        <% } %>

    <% } else { %>

        <form method="POST" action="/exploration">
            <!--Caroussel de toutes les planètes-->
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                    <% planetes_bd.forEach(function(planete) { %>
                        <!--Affichage d'une planète-->
                        <div class="carousel-item <%= planete[0] === 1 ? 'active' : '' %> w-100">
                            <div class="container-fluid text-center" style="margin-top: 20px;">
                                <br>
                                <div class="row">
                                    <div class="col" style="margin: 4% 0% 5% 9%;">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <% if (planete[1].length < 10) { %>
                                                    <h2 class="custom-font-planet-t">
                                                        <% } else { %>
                                                            <h1 class="custom-font-planet-t petit-titre">
                                                                <% } %>
                                                                    <%= planete[1] %>
                                                            </h1>
                                            </div>
                                            <div class="col-sm-6 mt-4 custom-font-planet-p" style="text-align: right;">
                                                <div class="row-sm-4">
                                                    <h1 class="form-label custom-font-labels">Type d'objet céleste : <%=
                                                            planete[2] %>
                                                    </h1>
                                                </div>
                                                <div class="row-sm-4">
                                                    <h1 class="form-label custom-font-labels">Gravité : <%= planete[3] %>
                                                            m/s²</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bg-black d-flex p-2 ">
                                            <h5 class="custom-font-planet-p" style="text-align: justify;">
                                                <%= planete[4] %>
                                            </h5>
                                        </div>
                                        <div class="m-4"> 
                                            <label for="<%=planete[0]%>" class="form-label custom-font-labels">Choisir cette planète</label>
                                            <br>
                                            <input type="radio" id="<%=planete[0]%>" name="selection_planete" value="<%=planete[0]%>">   
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-center" style="width: 400px; height: 330px;">
                                            <img src="/images/<%= planete[5] %>" class="image-fluid m-2"
                                                style="border-radius: 48%; width: auto; height: 100%; color: white;"
                                                alt="<%= planete[1] %>">
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <% }); %>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev"
                    style="margin-top: 420px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                            aria-hidden="true" />
                    </svg>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next"
                    style="margin-top: 420px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                            aria-hidden="true" />
                    </svg>
                </button>
            </div>
            <input type="hidden" id="id_planete_choisie" value="1">
            <button type="submit" id="bouton_submit" disabled class="btn btn-outline-light btn-lg custom-font-planet-p position-relative top-0 start-50 translate-middle-x">
            Chercher un voyage</button>
        </form>
            <% } %>

    <script src="/javascript/exploration.js"></script>
    <%- include ("../partials/footer.ejs") %>