<%- include ("../partials/header.ejs") %>

    <div class="container-fluid" style="margin-top: 10%;">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <!--Action complétée lors du submit de ce formulaire-->
                <form action="/" method="POST">

                    <!--Gestion de l'affichage de l'état de connexion de l'utilisateur-->
                    <% if (typeof message_negatif !=='undefined' ) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= message_negatif %>
                        </div>
                        <% } %>
                            <!--Gestion des messages d'erreur-->
                            <% if (typeof message_positif !=='undefined' ) { %>
                                <div class="alert alert-success" role="alert">
                                    <%= message_positif %>
                                </div>
                                <% } %>

                                    <div class="row mb-3">

                                        <!--Champ de texte pour l'origine du voyage-->
                                        <div class="col">
                                            <label for="planete_origine" class="form-label custom-font-labels">Entrez
                                                l'astre d'origine</label>
                                            <br>
                                            <select id="planete_origine" name="planete_origine" class="form-control"
                                                required>
                                                <% if (typeof planetes_bd !=='undefined' && planetes_bd.length> 0) { %>
                                                    <% planetes_bd.forEach(function(planete, i) { %>
                                                        <option value="<%= planete[0] %>" <%if (typeof planete_origine
                                                            !=='undefined' && i + 1==planete_origine) { %>selected <% }
                                                                %> >
                                                                <%= planete[1] %>
                                                        </option>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <option selected>Aucune planète disponible</option>
                                                                <% } %>
                                            </select>
                                        </div>

                                        <div class="col">
                                            <div class="row">

                                                <!--Champ de texte pour la date du début du voyage-->
                                                <div class="col" id="date-aller-col">
                                                    <label for="date-aller" class="form-label custom-font-labels">Entrez
                                                        la date
                                                        de départ</label>
                                                    <br>
                                                    <input type="date" id="date-aller" name="date-aller"
                                                        class="form-control" placeholder="Date aller" required>
                                                </div>

                                                <!--Champ de texte pour la date de fin du voyage-->
                                                <div class="col" id="date-retour-col" style="display: none;">
                                                    <label for="date-retour"
                                                        class="form-label custom-font-labels">Entrez la
                                                        date de retour</label>
                                                    <br>
                                                    <input type="date" id="date-retour" name="date-retour"
                                                        class="form-control" placeholder="Date retour" required>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">

                                        <!--Champ de texte pour la destination du voyage-->
                                        <div class="col">
                                            <label for="planete_destination"
                                                class="form-label custom-font-labels">Entrez l'astre de
                                                destination</label>
                                            <br>
                                            <select id="planete_destination" name="planete_destination"
                                                class="form-control" required>
                                                <% if (typeof planetes_bd !=='undefined' && planetes_bd.length> 0) { %>
                                                    <% planetes_bd.forEach(function(planete, i) { %>
                                                        <option value="<%= planete[0] %>" <%if (typeof
                                                            planete_destination !=='undefined' && i +
                                                            1==planete_destination) { %>selected <% } %> >
                                                                <%= planete[1] %>
                                                        </option>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <option selected>Aucune planète disponible</option>
                                                                <% } %>
                                            </select>
                                        </div>

                                        <!--Champ de texte pour le nombre de billets dans le voyage-->
                                        <div class=" col">
                                            <label for="personnes" class="form-label custom-font-labels">Entrez le
                                                nombre de
                                                passagers</label>
                                            <br>
                                            <input type="number" name="personnes" id="personnes" class="form-control"
                                                placeholder="Nombre de personnes" required min="0">
                                        </div>

                                    </div>
                                    <div class="row mb-3">

                                        <!--Champ de sélection entre "aller simple" et "aller retour"-->
                                        <div class="col text-center">
                                            <div class="d-inline-block rounded-pill p-2 custom-font-labels-bg">
                                                <!--Aller simple-->
                                                <label for="aller-simple"
                                                    class="form-label custom-font-labels-radio">Aller
                                                    simple</label>
                                                <input type="radio" id="aller-simple" value="aller-simple"
                                                    name="type-billet" checked>
                                            </div>
                                        </div>
                                        <div class="col text-center">
                                            <div class="d-inline-block rounded-pill p-2 custom-font-labels-bg">
                                                <!--Aller simple-->
                                                <label for="aller-retour"
                                                    class="form-label custom-font-labels-radio">Aller-retour</label>
                                                <input type="radio" id="aller-retour" value="aller-retour"
                                                    name="type-billet">
                                            </div>
                                        </div>
                                    </div>

                                    <!--Boutton submit pour rechercher un voyage-->
                                    <div class="text-center">
                                        <button type="submit"
                                            class="btn btn-outline-light btn-lg custom-font-planet-p">Rechercher</button>
                                    </div>
                </form>
            </div>
        </div>
        <%- include ("../partials/footer.ejs") %>