<%- include ("../partials/header.ejs") %>
    <!--Champ d'affichage des erreurs lors d'inscription-->
    <div class="custom-message-negatif" id="message_negatif">
        <% if (typeof message_negatif !== 'undefined') { %>
            <%= message_negatif %>
        <% } %>
    </div>

    <!--Affichage du nom de la page dans le titre du navigateur web-->
    <script>
        var nomPage = " | S'inscrire";
        document.title += nomPage;
    </script>

    <div class="container-fluid" style="margin-top: 5%;">

        <div class="row">
            <div class="col-1"></div>
                <div class="col">
                    <div class="row justify-content-center">

                        <!--Titre de la page-->
                        <h1 class="custom-font-titles text-center">Créer un compte</h1>

                        <div class="col-md-auto">


                            <!--Champ d'entrée du prénom de l'utilisateur-->
                            <label for="prenom" class="form-label custom-font-labels">Entrez votre prénom</label>
                            <br>
                            <input type="text" id="prenom" name="prenom" class="form-control"
                                   placeholder="Prénom" required>


                            <!--Champ d'entrée du nom de l'utilisateur-->
                            <label for="nom" class="form-label custom-font-labels">Entrez votre nom</label>
                            <br>
                            <input type="text" id="nom" name="nom" class="form-control"
                                   placeholder="Nom" required>


                            <!--Champ d'entrée du courriel de l'utilisateur-->
                            <label for="email" class="form-label custom-font-labels">Entrez votre courriel</label>
                            <br>
                            <input type="text" id="email" name="email" class="form-control"
                                   pattern="^([a-zA-Z0-9._%-]+@+[a-zA-Z0-9.-]+\\.+[a-zA-Z]{2,4})*$" placeholder="Courriel" required>


                            <!--Champ d'entrée du numéro de téléphone de l'utilisateur-->
                            <label for="telephone" class="form-label custom-font-labels"> Entrez votre numéro de téléphone </label>
                            <br>
                            <input type="text" id="telephone" name="telephone" class="form-control" placeholder="Téléphone">
                        </div>
                        <div class="col-md-auto">
                            <!--Champ d'entrée du mot de passe de l'utilisateur-->
                            <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de passe</label>
                            <br>
                            <input type="password" id="mdp" name="mdp" class="form-control" placeholder="Mot de passe" required>


                            <!--Deuxième champ d'entrée du mot de passe de l'utilisateur-->
                            <label for="confirmation" class="form-label custom-font-labels">Confirmez votre mot de passe</label>
                            <br>
                            <input type="password" id="confirmation" name="confirmation" class="form-control" placeholder="Confirmer le mot de passe" required>


                            <!--Champ d'entrée de l'adresse de l'utilisateur-->
                            <label for="adresse" class="form-label custom-font-labels">Entrez votre
                                adresse</label>
                            <br>
                            <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Adresse">

                            <!--Champ d'entrée de l'astre d'origine de l'utilisateur-->
                            <label for="planete" class="form-label custom-font-labels">Sélectionnez votre objet céleste courant</label>
                            <br>
                            <select id="planete" name="planete" class="form-control" required>
                                <% if (typeof planetes_bd !=='undefined' && planetes_bd.length> 0) { %>
                                    <% planetes_bd.forEach(function(planete, i) { %>
                                        <option value="<%= planete[0] %>">
                                                <%= planete[1] %>
                                        </option>
                                        <% }); %>
                                            <% } else { %>
                                                <option selected>Aucune planète disponible</option>
                                                <% } %>
                            </select>
                        </div>
                    </div>

                    <!--Boutton submit pour se connecter à un compte-->
                    <button type="button" onclick="post_inscription()" id="bouton_inscription"
                        class="btn btn-outline-light btn-lg custom-font-planet-p mt-2 position-relative top-0 start-50 translate-middle-x">
                        Créer le compte</button>
                    </div>

            <div class="col-1"></div>
        </div>
    </div>
    <script>
        function post_inscription(){
            const noms_regex = new RegExp("^[a-zA-Z \-]{2,50}$");
            const mdp_regex = new RegExp(".{8,30}");
            const courriel_regex = new RegExp("^([a-zA-Z0-9._%-]+@+[a-zA-Z0-9.-]+\\.+[a-zA-Z]{2,4})+$");
            const telephone_regex = new RegExp("^\\d{7,15}$");
            const adresse_regex = new RegExp("^.{0,128}$");
            let message_erreur = "";

            const prenom_valide = noms_regex.test(document.getElementById("prenom").value);
            const nom_valide = noms_regex.test(document.getElementById("nom").value);
            const courriel_valide = courriel_regex.test(document.getElementById("email").value);
            const telephone_valide = telephone_regex.test(document.getElementById("telephone").value);
            const mdp_valide = mdp_regex.test(document.getElementById("mdp").value);
            const confirmation_valide = mdp_regex.test(document.getElementById("confirmation").value);
            const adresse_valide = adresse_regex.test(document.getElementById("adresse").value);

            if (prenom_valide && nom_valide && courriel_valide && mdp_valide && confirmation_valide && adresse_valide){
                if(telephone_valide || document.getElementById("telephone").value == ""){
                    document.getElementById("bouton_connexion").disabled = true;
                    document.getElementById("prenom").classList.remove('is-invalid');
                    document.getElementById("nom").classList.remove('is-invalid');


                    const f = fetch("inscription", {
                        method: "POST",
                        headers: {'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            prenom: document.getElementById("prenom").value,
                            nom: document.getElementById("nom").value,
                            email: document.getElementById("email").value,
                            telephone: document.getElementById("telephone").value,
                            mdp: document.getElementById("mdp").value,
                            confirmation: document.getElementById("confirmation").value,
                            adresse: document.getElementById("adresse").value,
                            planete: document.getElementById("planete").value
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (typeof data.message_negatif !== 'undefined'){
                            if (data.message_negatif.includes("courriel")){
                                document.getElementById("bouton_connexion").disabled = false;

                                document.getElementById("email").classList.add('is-invalid');

                                if (data.message_negatif.includes("mot de passe")){
                                    document.getElementById("mdp").classList.add('is-invalid');
                                    document.getElementById("confirmation").classList.add('is-invalid');
                                }
                            } else {
                                document.getElementById("bouton_connexion").disabled = false;

                                document.getElementById("mdp").classList.add('is-invalid');
                                document.getElementById("confirmation").classList.add('is-invalid');
                            }
                        }
                        if (typeof data.message_positif !== 'undefined'){
                            window.location.href = "http://localhost:4000/";

                        } else {
                            document.getElementById("message_negatif").textContent = data.message_negatif;
                            document.getElementById("bouton_connexion").disabled = false;
                        }

                    }).catch((error) => {
                        console.error('Erreur:', error);
                    });
                }
            } else 
            if (!prenom_valide && !nom_valide){
                document.getElementById("prenom").classList.add('is-invalid');
                document.getElementById("nom").classList.add('is-invalid');

                message_erreur = "Le prénom et nom saisis ne peuvent contenir que des lettres sans accents, des espaces et des traits d'union et être entre 2 et 50 caractères. ";
            } else {
                if (!prenom_valide){
                    document.getElementById("prenom").classList.add('is-invalid');
                    message_erreur = "Le prénom saisi ne peut contenir que des lettres sans accents, des espaces et des traits d'union et être entre 2 et 50 caractères. ";

                } else document.getElementById("prenom").classList.remove('is-invalid');

                if (!nom_valide){
                        document.getElementById("nom").classList.add('is-invalid');
                    message_erreur += "Le nom saisi ne peut contenir que des lettres sans accents, des espaces et des traits d'union et être entre 2 et 50 caractères. ";

                } else document.getElementById("nom").classList.remove('is-invalid');
            }


            if (!courriel_valide){
                document.getElementById("email").classList.add('is-invalid');
                message_erreur += "L'adresse courriel saisie est invalide. ";

            } else document.getElementById("email").classList.remove('is-invalid');


            if (!telephone_valide && document.getElementById("telephone").value != ""){
                document.getElementById("telephone").classList.add('is-invalid');
                message_erreur += "Le numéro de téléphone saisi ne doit contenir que des chiffres et être entre 7 et 15 caractères. ";

            } else document.getElementById("telephone").classList.remove('is-invalid');


            if (!mdp_valide){
                document.getElementById("mdp").classList.add('is-invalid');
                message_erreur += "Le mot de passe saisi doit être entre 8 et 30 caractères. ";

            } else document.getElementById("mdp").classList.remove('is-invalid');


            if (!confirmation_valide){
                document.getElementById("confirmation").classList.add('is-invalid');
                message_erreur += "La copie du mot de passe saisi doit être entre 8 et 30 caractères. ";

            } else document.getElementById("confirmation").classList.remove('is-invalid');


            if (!adresse_valide){
                document.getElementById("adresse").classList.add('is-invalid');
                message_erreur += "L'adresse saisie doit être moins de 128 caractères.";

            } else document.getElementById("adresse").classList.remove('is-invalid');


            document.getElementById("message_negatif").textContent = message_erreur;
        }
    </script>
    <!-- <script>
        const url = "/inscription";
        function post_inscription(){
            const f = fetch(url, {
                method: "POST"
            });
        };
        f.then(function(res) {
            return res.json();
        });
        f.then(function(json) {
            document.getElementById("prenom").innerHTML = json.adresse;
        });
    </script>
    tentative de faire apparaitre le message d'erreur qu'une fois que l'utilisateur a tenté de se connecter
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.querySelector('form');

            form.addEventListener('submit', function (event) {
                var entrees = form.querySelectorAll('.form-control');

                entrees.forEach(function (input) {
                    if (!input.checkValidity()) {
                        input.classList.add('is-invalid');
                    } else {
                        input.classList.remove('is-invalid');
                    }
                });

                if (!form.checkValidity()) {
                    event.preventDefault();
                }
            });
        });
    </script>
            <script src="/javascript/inscription.js"></script>-->
            <%- include ("../partials/footer.ejs") %>