<%- include ("../partials/header.ejs") %>
    <!--Champ d'affichage des erreurs lors d'inscription-->
    <% if (typeof message_negatif !=='undefined' ) { %>
        <div class="custom-message-negatif">
            <%= message_negatif %>
        </div>
        <% } %>

            <!--Affichage du nom de la page dans le titre du navigateur web-->
            <script>
                var nomPage = " | S'inscrire";
                document.title += nomPage;
            </script>

            <div class="container-fluid" style="margin-top: 5%;">

                <div class="row">
                    <div class="col-1"></div>

                    <div class="col">

                        <!--Action complétée lors du submit de ce formulaire-->
                        <form action="/inscription" method="POST">

                            <div class="row justify-content-center">

                                <!--Titre de la page-->
                                <h1 class="custom-font-titles text-center">Créer un compte</h1>

                                <div class="col-md-auto">


                                    <!--Champ d'entrée du prénom de l'utilisateur-->
                                    <label for="prenom" class="form-label custom-font-labels">Entrez votre
                                        prénom</label>
                                    <br>
                                    <input type="text" id="prenom" name="prenom" class="form-control"
                                        placeholder="Prénom" <% if(typeof prenom !=='undefined' ){ %>
                                    value="<%=prenom%>"
                                        <% } %>
                                            pattern="[a-zA-Z \-]{2,50}" title="Votre prénom sans accents avec des
                                            espaces ou traits-d'union." required>


                                            <!--Champ d'entrée du nom de l'utilisateur-->
                                            <label for="nom" class="form-label custom-font-labels">Entrez votre
                                                nom</label>
                                            <br>
                                            <input type="text" id="nom" name="nom" class="form-control"
                                                placeholder="Nom" <% if(typeof nom !=='undefined' ){ %>
                                            value="<%=nom%>"
                                                <% } %>
                                                    pattern="[a-zA-Z \-]{2,50}" title="Votre nom sans accents avec des
                                                    espaces ou traits-d'union." required>


                                                    <!--Champ d'entrée du courriel de l'utilisateur-->
                                                    <label for="email" class="form-label custom-font-labels">Entrez
                                                        votre
                                                        courriel</label>
                                                    <br>
                                                    <input type="email" id="email" name="email" class="form-control" <%
                                                        if(typeof email !=='undefined' ){ %>
                                                    value="<%=email%>"
                                                        <% } %>
                                                            minlength="8" maxlength="30" placeholder="Courriel"
                                                            required>


                                                            <!--Champ d'entrée du numéro de téléphone de l'utilisateur-->
                                                            <label for="telephone"
                                                                class="form-label custom-font-labels">Entrez votre
                                                                numéro de téléphone</label>
                                                            <br>
                                                            <input type="text" id="telephone" name="telephone"
                                                                class="form-control" <% if(typeof telephone
                                                                !=='undefined' ){ %>
                                                            value="<%=telephone%>"
                                                                <% } %>
                                                                    pattern="[\d]{7,15}" title="Numéro de téléphone de 7
                                                                    à 15 chiffres." placeholder="Téléphone">


                                </div>
                                <div class="col-md-auto">


                                    <!--Champ d'entrée du mot de passe de l'utilisateur-->
                                    <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de
                                        passe</label>
                                    <br>
                                    <input type="password" id="mdp" name="mdp" class="form-control" minlength="8"
                                        maxlength="30" placeholder="Mot de passe" required>


                                    <!--Deuxième champ d'entrée du mot de passe de l'utilisateur-->
                                    <label for="confirmation" class="form-label custom-font-labels">Confirmez votre mot
                                        de passe</label>
                                    <br>
                                    <input type="password" id="confirmation" name="confirmation" class="form-control"
                                        minlength="8" maxlength="30" placeholder="Confirmer le mot de passe" required>


                                    <!--Champ d'entrée de l'adresse de l'utilisateur-->
                                    <label for="adresse" class="form-label custom-font-labels">Entrez votre
                                        adresse</label>
                                    <br>
                                    <input type="text" id="adresse" name="adresse" class="form-control"
                                        placeholder="Adresse" <% if(typeof adresse !=='undefined' ){ %>
                                    value="<%=adresse%>"
                                        <% } %>>

                                            <!--Champ d'entrée de l'astre d'origine de l'utilisateur-->
                                            <label for="planete" class="form-label custom-font-labels">Sélectionnez
                                                votre objet
                                                céleste courant</label>
                                            <br>
                                            <select id="planete" name="planete" class="form-control" required>
                                                <% if (typeof planetes_bd !=='undefined' && planetes_bd.length> 0) { %>
                                                    <% planetes_bd.forEach(function(planete, i) { %>
                                                        <option value="<%= planete[0] %>" <% if(typeof planete_id
                                                            !=='undefined' && planete_id==i + 1){ %> selected <% } %>>
                                                                <%= planete[1] %>
                                                        </option>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <option selected>Aucune planète disponible</option>
                                                                <% } %>
                                            </select>
                                </div>
                            </div>

                            <!--Boutton submit pour se connecter à un compte-->
                            <button type="submit"
                                class="btn btn-outline-light btn-lg custom-font-planet-p mt-2 position-relative top-0 start-50 translate-middle-x">
                                Créer le compte</button>
                        </form>
                    </div>

                    <div class="col-1"></div>
                </div>
            </div>
            <!-- tentative de faire apparaitre le message d'erreur qu'une fois que l'utilisateur a tenté de se connecter
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.querySelector('form');

            form.addEventListener('submit', function (event) {
                var entrees = form.querySelectorAll('.form-control');

                entrees.forEach(function (input) {
                    if (!input.checkValidity()) {
                        input.classList.add('is-invalid');
                    } else {
                        input.classList.remove('is-invalid');
                    }
                });

                if (!form.checkValidity()) {
                    event.preventDefault();
                }
            });
        });
    </script>-->
            <script src="/javascript/inscription.js"></script>
            <%- include ("../partials/footer.ejs") %>