<%- include ("../partials/header.ejs", {est_connecte: est_connecte}) %>
    <!--Affichage du nom de la page dans le titre du navigateur web-->
    <script>
        var nomPage = " | S'inscrire";
        document.title += nomPage;
    </script>

    <div class="container-fluid" style="margin-top: 5%;">

        <div class="row">
            <div class="col-1"></div>

            <div class="col">

                <!--Champ d'affichage des erreurs lors d'inscription-->
                <% if (typeof message_negatif !== 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= message_negatif %>
                    </div>
                    <% } %>

                        <!--Action complétée lors du submit de ce formulaire-->
                        <form action="/inscription" method="POST">

                            <div class="row justify-content-center">

                                <!--Titre de la page-->
                                <h1 class="custom-font-titles text-center">Créer un compte</h1>

                                <div class="col-md-auto">


                                    <!--Champ d'entrée du prénom de l'utilisateur-->
                                    <label for="prenom" class="form-label custom-font-labels">Entrez votre
                                        prénom</label>
                                    <br>
                                    <input type="text" id="prenom" name="prenom" class="form-control"
                                        placeholder="Prénom" required>

                                    <!--Affichage d'erreur lors d'une entrée dans le champs prénom-->
                                    <div class="invalid-feedback">Veuillez écrire votre prénom.</div>


                                    <!--Champ d'entrée du nom de l'utilisateur-->
                                    <label for="nom" class="form-label custom-font-labels">Entrez votre nom</label>
                                    <br>
                                    <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom"
                                        required>

                                    <!--Affichage d'erreur lors d'une entrée dans le champs nom-->
                                    <div class="invalid-feedback">Veuillez écrire votre nom.</div>


                                    <!--Champ d'entrée du courriel de l'utilisateur-->
                                    <label for="email" class="form-label custom-font-labels">Entrez votre
                                        courriel</label>
                                    <br>
                                    <input type="email" id="email" name="email" class="form-control"
                                        placeholder="Courriel" required>

                                    <!--Affichage d'erreur lors d'une entrée dans le champs courriel-->
                                    <div class="invalid-feedback">Veuillez écrire votre adresse courriel.</div>


                                    <!--Champ d'entrée du numéro de téléphone de l'utilisateur-->
                                    <label for="telephone" class="form-label custom-font-labels">Entrez votre numéro de
                                        téléphone</label>
                                    <br>
                                    <input type="text" id="telephone" name="telephone" class="form-control"
                                        placeholder="Téléphone">


                                </div>
                                <div class="col-md-auto">


                                    <!--Champ d'entrée du mot de passe de l'utilisateur-->
                                    <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de
                                        passe</label>
                                    <br>
                                    <input type="password" id="mdp" name="mdp" class="form-control"
                                        placeholder="Mot de passe" required>

                                    <!--Affichage d'erreur lors d'une entrée dans le champs mot de passe-->
                                    <div class="invalid-feedback">Veuillez écrire votre mot de passe.</div>


                                    <!--Deuxième champ d'entrée du mot de passe de l'utilisateur-->
                                    <label for="confirmation" class="form-label custom-font-labels">Confirmez votre mot
                                        de passe</label>
                                    <br>
                                    <input type="password" id="confirmation" name="confirmation" class="form-control"
                                        placeholder="Confirmer le mot de passe" required>

                                    <!--Affichage d'erreur lors d'une entrée dans le champs mot de passe-->
                                    <div class="invalid-feedback">Veuillez confirmer votre mot de passe.</div>


                                    <!--Champ d'entrée de l'adresse de l'utilisateur-->
                                    <label for="adresse" class="form-label custom-font-labels">Entrez votre
                                        adresse</label>
                                    <br>
                                    <input type="text" id="adresse" name="adresse" class="form-control"
                                        placeholder="Adresse">

                                    <!--Champ d'entrée de l'astre d'origine de l'utilisateur-->
                                    <label for="planete" class="form-label custom-font-labels">Sélectionnez votre objet
                                        céleste courant</label>
                                    <br>
                                    <select id="planete" name="planete" class="form-control" <% if (!planetes ||
                                        planetes.length===0) { %> disabled <% } %> required>
                                            <% if (planetes && planetes.length> 0) { %>
                                                <% planetes.forEach(function(planete) { %>
                                                    <option value="<%= planete[0] %>">
                                                        <%= planete[1] %>
                                                    </option>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <option disabled selected>Aucune planète disponible</option>
                                                            <% } %>
                                    </select>
                                </div>
                            </div>

                            <!--Boutton submit pour se connecter à un compte-->
                            <button type="submit"
                                class="btn btn-outline-light btn-lg custom-font-planet-p mt-2 position-relative top-0 start-50 translate-middle-x">
                                Créer le compte</button>
                        </form>
            </div>

            <div class="col-1"></div>
        </div>
    </div>
    <!-- tentative de faire apparaitre le message d'erreur qu'une fois que l'utilisateur a tenté de se connecter
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.querySelector('form');

            form.addEventListener('submit', function (event) {
                var entrees = form.querySelectorAll('.form-control');

                entrees.forEach(function (input) {
                    if (!input.checkValidity()) {
                        input.classList.add('is-invalid');
                    } else {
                        input.classList.remove('is-invalid');
                    }
                });

                if (!form.checkValidity()) {
                    event.preventDefault();
                }
            });
        });
    </script>-->
    <%- include ("../partials/footer.ejs") %>