<%- include ("../partials/header.ejs") %>

    <script>
        var nomPage = " | Réserver";
        document.title += nomPage;
    </script>

    <div class="container-fluid mt-2">
        <div class="container">
            <div class="row text-white">
                <div class="col-sm-3 m-1">
                    <div class="row">
                        <h1 class="custom-font-titles text-center">Information</h1>
                    </div>
                    <div class="row mt-1 rounded custom-bg-rvt">
                        <div class="p-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col">
                                            <h2 class="custom-font-labels m-0 px-2" id="codeVoyage">
                                                <!--Code du Voyage-->
                                            </h2>
                                        </div>
                                        <div class="col" style="text-align: right;">
                                            <!--le bouton n'est somehow pas un coeur-->
                                            <button class="m-0 p-0"
                                                style="border: none; background: none; color: white;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" id="coeur">
                                                    <path
                                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="rounded custom-bg-rvt mt-1 px-2">
                                        <div class="row">
                                            <h2 class="custom-font-labels mt-1 m-0">Destination</h2>
                                            <div class="col-3">
                                                <p class="custom-font-rvt m-0">Nom</p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="custom-font-rvt m-0" id="nomDestination">
                                                    <!--Nom du planet de destination-->
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <p class="custom-font-rvt m-0">Type</p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="custom-font-rvt m-0" id="typeDestination">
                                                    <!--Type du planet de destination-->
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <p class="custom-font-rvt m-0">Gravité</p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="custom-font-rvt m-0" id="graviteDestination">
                                                    <!--Gravité du planet de destination-->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="rounded custom-bg-rvt mt-1 px-2">
                                        <div class="row">
                                            <h2 class="custom-font-labels mt-1 m-0">Vaisseau</h2>
                                            <div class="col-3">
                                                <p class="custom-font-rvt m-0">Nom</p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="custom-font-rvt m-0" id="nomVaisseau">
                                                    <!--Nom du vaisseau-->
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <p class="custom-font-rvt m-0">Type</p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="custom-font-rvt m-0" id="typeVaisseau">
                                                    <!--Type du vaisseau-->
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <p class="custom-font-rvt m-0">Capacité</p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="custom-font-rvt m-0" id="capaciteVaisseau">
                                                    <!--Capacité du vaisseau-->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="rounded custom-bg-rvt ">
                            <div class="row">
                                <h2 class="custom-font-labels mt-1 m-0">Recherche</h2>
                                <div class="col-5">
                                    <p class="custom-font-rvt m-0">Origine</p>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <p class="custom-font-rvt m-0">
                                        <%= rechercheData.planetOrigine %>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="custom-font-rvt m-0">Destination</p>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <p class="custom-font-rvt m-0">
                                        <%= rechercheData.planetDestination %>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="custom-font-rvt m-0">Départ</p>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <p class="custom-font-rvt m-0">
                                        <%= rechercheData.dateDepart %>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="custom-font-rvt m-0">Retour</p>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <p class="custom-font-rvt m-0">
                                        <%= rechercheData.dateRetour %>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <p class="custom-font-rvt m-0">Personnes</p>
                                </div>
                                <div class="col-3" style="text-align: right;">
                                    <p class="custom-font-rvt m-0">
                                        <%= rechercheData.nombrePersonnes %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-1">
                    <div class="row">
                        <h1 class="custom-font-titles text-center">Voyage</h1>
                    </div>
                    <div class="custom-font-planet-p mt-1">
                        <div class="p-0" style="display: flex;">
                            <div style="margin-right: 4px;">
                                <input type="radio" class="btn-check" name="options-outlined" id="economique"
                                    autocomplete="off" checked>
                                <label class="btn btn-outline-light" for="economique">Économique</label>
                            </div>
                            <div style="margin-right: 4px;">
                                <input type="radio" class="btn-check" name="options-outlined" id="affaires"
                                    autocomplete="off">
                                <label class="btn btn-outline-light" for="affaires">Affaires</label>
                            </div>
                            <div class="rounded custom-bg-rvt" style="width: 100%;">
                                <div class="m-1">
                                    <input type="range" class="form-range" min="0" max="5" id="customRange2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1 p-1 rounded custom-bg-rvt">
                        <% voyages_bd.forEach(voyage=> { %>
                            <div class="rounded mt-1 px-2 custom-bg-rvt custom-white-btn" style="cursor: pointer;"
                                onclick="afficherDetails('<%= voyage.ID_VOYAGE %>')" id="info_<%= voyage.ID_VOYAGE %>">
                                <div style="display: flex;">
                                    <h2 class="custom-font-labels m-0">
                                        <%= voyage.ORIGINE %>
                                    </h2>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-rocket mt-1" viewBox="0 0 16 16"
                                        style="transform: rotate(90deg); margin-left: 5px;">
                                        <path d="M8 8c.828 0 1.5-.895 1.5-2S8.828 4 8 4s-1.5.895-1.5 2S7.172 8 8 8" />
                                        <path
                                            d="M11.953 8.81c-.195-3.388-.968-5.507-1.777-6.819C9.707 1.233 9.23.751 8.857.454a3.5 3.5 0 0 0-.463-.315A2 2 0 0 0 8.25.064.55.55 0 0 0 8 0a.55.55 0 0 0-.266.073 2 2 0 0 0-.142.08 4 4 0 0 0-.459.33c-.37.308-.844.803-1.31 1.57-.805 1.322-1.577 3.433-1.774 6.756l-1.497 1.826-.004.005A2.5 2.5 0 0 0 2 12.202V15.5a.5.5 0 0 0 .9.3l1.125-1.5c.166-.222.42-.4.752-.57.214-.108.414-.192.625-.281l.198-.084c.7.428 1.55.635 2.4.635s1.7-.207 2.4-.635q.1.044.196.083c.213.09.413.174.627.282.332.17.586.348.752.57l1.125 1.5a.5.5 0 0 0 .9-.3v-3.298a2.5 2.5 0 0 0-.548-1.562zM12 10.445v.055c0 .866-.284 1.585-.75 2.14.146.064.292.13.425.199.39.197.8.46 1.1.86L13 14v-1.798a1.5 1.5 0 0 0-.327-.935zM4.75 12.64C4.284 12.085 4 11.366 4 10.5v-.054l-.673.82a1.5 1.5 0 0 0-.327.936V14l.225-.3c.3-.4.71-.664 1.1-.861.133-.068.279-.135.425-.199M8.009 1.073q.096.06.226.163c.284.226.683.621 1.09 1.28C10.137 3.836 11 6.237 11 10.5c0 .858-.374 1.48-.943 1.893C9.517 12.786 8.781 13 8 13s-1.517-.214-2.057-.607C5.373 11.979 5 11.358 5 10.5c0-4.182.86-6.586 1.677-7.928.409-.67.81-1.082 1.096-1.32q.136-.113.236-.18Z" />
                                        <path
                                            d="M9.479 14.361c-.48.093-.98.139-1.479.139s-.999-.046-1.479-.139L7.6 15.8a.5.5 0 0 0 .8 0z" />
                                    </svg>
                                    <h2 class="custom-font-labels px-1 m-0">
                                        <%= voyage.DESTINATION %>
                                    </h2>
                                    <div class="col" style="text-align: right;">
                                        <!-- Affichage dynamique du prix en fonction du type de billet sélectionné -->
                                        <p class="custom-font-rvt m-0 voyage-prix" id="prix_<%= voyage.ID_VOYAGE %>">
                                            <%= voyage.PRIX_ECONO %> $
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="custom-font-rvt m-0 voyage-code">
                                            Code <%= voyage.ID_VOYAGE %>
                                        </p>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <button class="m-0 p-0" id="add_btn_<%= voyage.ID_VOYAGE %>"
                                            style="border: none; background: none; color: white;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-caret-right custom-btn-add"
                                                viewBox="0 0 16 16"
                                                style="margin-left: 5px; margin-bottom: 4px; border-radius: 100%;">
                                                <path
                                                    d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>

                <div class="col m-1">
                    <div class="row">
                        <h1 class="custom-font-titles text-center">Panier</h1>
                    </div>
                    <div class="row" style="height: 55vh; overflow: auto;">
                        <div class="rounded custom-bg-rvt p-1 conteneur-panier">
                            <!--Code pour ajouter dans panier-->
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="rounded px-2 custom-bg-rvt">
                            <div class="row">
                                <div class="col-8">
                                    <p class="custom-font-rvt m-0">Voyages</p>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <p class="custom-font-rvt m-0" id="nombre_voyages"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <p class="custom-font-rvt m-0">Billets</p>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <p class="custom-font-rvt m-0" id="nombre_billets"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="custom-font-rvt m-0">Total</p>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <p class="custom-font-rvt m-0" id="nombre_argents"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col p-0">
                            <button type="submit" class="btn btn-outline-light btn-lg custom-font-planet-p w-100"
                                id="confirmer-btn">Confirmer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascript/reserv-info-voyage.js"></script>
    <script src="/javascript/reserv-panier.js"></script>
    <script src="/javascript/reserv-prix.js"></script>
    <% if (voyages_bd) { %>
        <script>
            const voyagesData =  <%- JSON.stringify(voyages_bd) %>;

        </script> <!--Probleme avec EJS et JS confusion de Visual Studio-->
        <% } %>
            <%- include ("../partials/footer.ejs") %>