<%- include("../partials/header.ejs") %>

    <div class="container-fluid" style="margin-top: 2%;">
        <h1 class="custom-font-planet-t petit-titre">Données de la table: <%= tableName %>
        </h1>
        <table class="table">
            <thead>
                <tr>
                    <% if (colonnes && colonnes.length> 0) { %>
                        <% colonnes.forEach(function(nomColonne) { %>
                            <th scope="col">
                                <%= nomColonne %>
                            </th>
                            <% }) %>
                                <% } else { %>
                                    <th>Aucune donnée trouvée</th>
                                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(row) { %>
                    <tr>
                        <% colonnes.forEach(function(nomColonne) { %>
                            <td>
                                <%= row[nomColonne] %>
                            </td>
                            <% }) %>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <%- include("../partials/footer.ejs") %>