<%- include("../partials/header.ejs") %>

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="custom-font-planete-t petit-titre" id="titrePage">Données de la collection: <%= nomCollection %>
        </h1>
    </div>
    <div class="table-responsive scrollable-table">
        <table class="table" id="dbTable">
            <thead>
                <tr>
                    <% if (colonnes && colonnes.length> 0) { %>
                        <% colonnes.forEach(function(nomColonne) { %>
                            <th scope="col">
                                <%=nomColonne%>
                            </th>
                            <% }) %>
                                <% } else { %>
                                    <th>Aucune donnée trouvée</th>
                                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(row, index) { %>
                    <tr data-row-index="<%= index %>">
                        <% colonnes.forEach(function(nomColonne) { %>
                            <td class="wrap-text" data-column-name="<%=nomColonne%>">
                                <%=row[nomColonne]%>
                            </td>
                            <% }) %>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include("../partials/footer.ejs") %>