<%- include("../partials/header.ejs") %>

    <div class="container-fluid" style="margin-top: 2%;">
        <h1 class="custom-font-planet-t petit-titre" id="titrePage">Données de la table: <%= tableName %>
        </h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <% if (colonnes && colonnes.length> 0) { %>
                            <% colonnes.forEach(function(nomColonne) { %>
                                <th scope="col">
                                    <%= nomColonne %>
                                </th>
                                <% }) %>
                                    <th scope="col">
                                        OPTIONS
                                    </th>
                                    <% } else { %>
                                        <th>Aucune donnée trouvée</th>
                                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(row, index) { %>
                        <tr data-row-index="<%= index %>">
                            <% colonnes.forEach(function(nomColonne) { %>
                                <td data-column-name="<%= nomColonne %>">
                                    <%= row[nomColonne] %>
                                </td>
                                <% }) %>
                                    <td>
                                        <div class="d-grid gap-2">
                                            <!-- Bouton Modifier -->
                                            <button type="button" class="btn btn-primary btn-modifier"
                                                data-index="<%= index %>">Modifier</button>
                                            <!-- Bouton Supprimer -->
                                            <button type="button" class="btn btn-danger btn-supprimer"
                                                data-index="<%= index %>">Supprimer</button>
                                        </div>
                                    </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/javascript/voir-table.js"></script>

    <%- include("../partials/footer.ejs") %>