<%- include ("../partials/header.ejs") %>
    <!--Gestion des messages d'erreur-->
    <% if (typeof message_negatif !=='undefined' ) { %>
        <div class="custom-message-negatif" id="message_negatif">
            <%= message_negatif %>
        </div>
        <% } %>
            <!--Gestion de l'affichage de l'état de connexion de l'utilisateur-->
            <% if (typeof message_positif !=='undefined' ) { %>
                <div class="custom-message-positif" id="message_positif">
                    <%= message_positif %>
                </div>
                <% } %>

                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <h1 class="custom-font-planete-t petit-titre">Liste de souhaits</h1>
                                <ul class="list-group scrollable-list">
                                    <% if (typeof wishlistUtilisateur !=='undefined' ) { wishlistUtilisateur.forEach(function(voyage) {
                                        %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <%= voyage %>
                                                <form action="/administrateur/voirTable" method="POST"
                                                    style="margin-bottom:0;">
                                                    <input type="hidden" name="nomVoyage" value="<%= voyage %>">
                                                    <button type="submit" class="btn btn-primary">Voir le voyage</button>
                                                </form>
                                        </li>
                                        <% }) %>
                                            <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%- include ("../partials/footer.ejs") %>